body, html {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(72, 255, 0);
    text-decoration: none;
    transition: filter 400ms;
    border-radius: 10%;
    padding: 20px;
}

a:hover {
    background-color: rgb(247, 0, 255);
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rainbow {
    from {filter: hue-rotate(0deg)}
    to { filter: hue-rotate(360deg);}
}

.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
